<div class="intro-container animated fadeInRight">
  <div class="intro">
    <span>Hi, I'm Eder Rengifo.<br><a href="https://dribbble.com/ederrengifo" target="_blank">Designer</a>, amateur <a href="https://github.com/ederrengifo" target="_blank">coder</a>, <a href="https://medium.com/@ederrengifo" target="_blank">writer</a> <br>and I also like to make <a href="https://open.spotify.com/artist/14hnNArAo2xat2a89Uyoze" target="_blank">music.</a></span>
  </div>
</div>
<div class="menu-container animated fadeInDown">
  <div class="menu">
    <ul>
      <a class="active" href="<%= blogs_path(@blogs) %>"><li>Highlights</li></a>
      <a href="<%= about_path %>"><li>About me</li></a>
      <a href="https://dribbble.com/ederrengifo" target="_blank"><li>Dribbble</li></a>
      <a href="https://medium.com/@ederrengifo" target="_blank"><li>Medium</li></a>
      <a href="https://www.linkedin.com/in/ederrengifo" target="_blank"><li>LinkedIn</li></a>
    </ul>
  </div>
</div>
<div class="highlights-container animated fadeIn">
  <% @blogs.each do |blog| %>
  <div class="highlight-entrie">
    <h2><a href="<%= blog_path(blog) %>"><%= blog.title %></a></h2>
    <p><%= truncate(blog.detail.html_safe, length: 280, separator: ' ') %></p>
    <div class="read-more">
      <a href="<%= blog_path(blog) %>" class="more">READ MORE<i class="material-icons md-16 more-icon">arrow_forward</i></div></a>
  </div>
  <% end %>
</div>



<!--
<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Detail</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.detail %></td>
        <td><%= blog.tag %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
-->
