<div class="intro-container">
  <div class="intro-detail animated fadeInLeft">
    <span><a href="<%= blogs_path(@blogs) %>" class="back-container"><i class="material-icons back">arrow_back</i></a>/ Highlight</span>
  </div>
</div>
<div class="menu-container animated fadeInDown">
  <div class="menu">
    <ul>
      <a class="active" href="<%= blogs_path(@blogs) %>"><li>Highlights</li></a>
      <a href="<%= about_path %>"><li>About me</li></a>
      <a href="https://dribbble.com/ederrengifo" target="_blank"><li>Dribbble</li></a>
      <a href="https://github.com/ederrengifo" target="_blank"><li>Medium</li></a>
      <a href="https://www.linkedin.com/in/ederrengifo" target="_blank"><li>LinkedIn</li></a>
    </ul>
  </div>
</div>
<div class="highlights-container animated fadeIn">
  <div class="highlight-entrie">
    <h1><%= @blog.title %></h1>
    <p><%= simple_format(@blog.detail.html_safe) %></p>
  </div>
</div>
