<!DOCTYPE html>
<html>
  <head>
    <title>Eder Rengifo</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="animate.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="container">
        <div class="logo-container">
          <%= image_tag('icon-logo.svg') %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
